/** @format */

.registerContainer {
	display: flex;
	height: calc(100vh - 3.5rem);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../../assets/register-img.jpg");
	background-size: cover;
	color: #008002;
}
.registerTitle {
	font-size: 2.5rem;
	color: #c6ffca;
	font-weight: bold;
}
.registerForm {
	width: 15rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	background: rgba(245, 197, 197, 0.8);
	backdrop-filter: blur(2px);
	border-radius: 0.5rem;
	padding: 1rem;
}
.registerForm > label {
	margin: 0.2rem 0;
	font-size: 1.2rem;
	font-family: "Josefin Sans", serif;
	font-weight: 500;
}
.registerInput {
	padding: 0.2rem 0;
	margin-bottom: 1.2rem;
	background: transparent;
	border: none;
	border-bottom: 1px solid #80775b;
	color: #1b4769;
	outline: none;
}
.registerInput::placeholder {
	color: #5d7a5d;
	font-family: "Lora", serif;
	font-size: 0.8rem;
	border: none;
}
.loginBtn {
	text-decoration: none;
	text-align: center;
	margin-bottom: 0.7rem;
	padding: 0.6rem;
	border: none;
	border-radius: 0.4rem;
	background-color: #1b4769;
	color: #d4e6f4;
	cursor: pointer;
}
.loginBtn:hover {
	background-color: #3388cb;
}
.registerInfo {
	font-family: "Lora", serif;
	font-size: 0.6rem;
	color: #80775b;
	text-align: center;
	margin: 0.3rem 0;
}
.registerBtn {
	margin-bottom: 0.7rem;
	padding: 0.6rem;
	border: none;
	border-radius: 0.4rem;
	background-color: #80775b;
	color: #d4e6f4;
	cursor: pointer;
}
.registerBtn:hover {
	background-color: #7ba37a;
}
@media only screen and (max-width: 375px) {
	.registerForm {
		width: 70%;
	}
}
