/** @format */

.errorStyle {
	background-color: rgb(47, 44, 44);
	border-radius: 0.4rem;
	color: rgb(110, 239, 4);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 0.7rem;
	text-align: center;
	width: 13rem;
}
body {
	display: flex;
	flex-direction: column;
	/* height: 100vh; */
	margin-top: 3.8rem;
	width: 100%;
}
