/** @format */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 17px;
}
.link-style {
	text-decoration: none;
	color: inherit;
}
.errorStyle {
	background-color: rgb(47, 44, 44);
	color: rgb(110, 239, 4);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 13rem;
	text-align: center;
	padding: 0.7rem;
	border-radius: 0.4rem;
}
