/** @format */

.singlePage {
	display: flex;
	flex-wrap: wrap;
	margin: 0 10%;
}
.post-container {
	width: 60%;
	margin-bottom: 8%;
}
.side-element {
	width: 40%;
}
@media screen and (max-width: 650px) {
	.singlePage {
		margin: 0;
	}
	.post-container {
		width: 100%;
	}
	.side-element {
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.singlePage {
		margin: 0;
	}
	.post-container {
		width: 100%;
	}
	.side-element {
		width: 100%;
	}
}
@media screen and (max-width: 820px) {
	.singlePage {
		margin: 0 3%;
	}
}
