/** @format */

.singlePage {
	display: flex;
	flex-wrap: wrap;
	/* margin: 0 10%; */
	margin: 0 10% 10% 7%;
}
.post-container {
	width: 60%;
	margin-bottom: 8%;
}
.side-element {
	width: 40%;
}

@media screen and (max-width: 768px) {
	.singlePage {
		margin-bottom: 10%;
	}
	.post-container {
		width: 100%;
	}
	.side-element {
		width: 60%;
	}
}
@media screen and (max-width: 820px) {
	.singlePage {
		margin: 0;
	}
	.post-container {
		width: 100%;
	}
	.side-element {
		width: 80%;
		margin: 0 auto;
	}
}
