/** @format */

.loginContainer {
	display: grid;
	place-items: center;
	background: url("../../assets/login-img.jpg");
	background-size: cover;
	color: #008002;
	height: calc(100vh - 3.5rem);
	width: 100%;
}
.form-container {
	width: 15rem;
	display: flex;
	flex-direction: column;
}
.loginTitle {
	font-size: 2rem;
	color: #c6ffca;
	font-weight: bold;
	text-align: center;
	/* width: 15rem; */
	margin: 0 0 1rem 0;
	padding: 0;
}

.loginForm {
	margin: 0.3rem;
	display: flex;
	flex-direction: column;
	background: rgba(245, 197, 197, 0.8);
	backdrop-filter: blur(2px);
	border-radius: 0.5rem;
	padding: 1rem;
}
.loginForm > label {
	margin: 0.2rem 0;
	font-size: 1.2rem;
	font-family: "Josefin Sans", serif;
	font-weight: 500;
}
.loginInput {
	padding: 0.2rem 0;
	margin-bottom: 1.2rem;
	background: transparent;
	border: none;
	border-bottom: 1px solid #80775b;
	color: #008002;
	outline: none;
}
.loginInput::placeholder {
	color: #5d7a5d;
	font-family: "Lora", serif;
	font-size: 0.8rem;
	border: none;
}
.loginBtn {
	margin-bottom: 0.7rem;
	padding: 0.6rem;
	border: none;
	border-radius: 0.4rem;
	background-color: #008002;
	color: #c6ffca;
	cursor: pointer;
}
.loginBtn:hover {
	background-color: #3388cb;
}
.registerInfo {
	font-family: "Lora", serif;
	font-size: 0.7rem;
	color: #80775b;
	text-align: center;
	margin: 0.3rem 0;
}
.registerBtn {
	text-decoration: none;
	text-align: center;
	margin-bottom: 0.7rem;
	padding: 0.6rem;
	border: none;
	border-radius: 0.4rem;
	background-color: #80775b;
	color: #d4e6f4;
	cursor: pointer;
}
.registerBtn:hover {
	background-color: #7ba37a;
}

@media only screen and (max-width: 300px) {
	.form-container {
		width: 90%;
	}
}
