/** @format */

.fixed-bottom {
	position: absolute;
	color: #c6ffca;
	width: 100%;
	display: flex;
	background-color: #008002;
	/* align-items: center; */
	/* justify-content: center; */
	/* clear: both; */
	/* position: fixed; */
}
.txt-footer-container {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.txt-footer-container p {
	margin: 0;
	padding: 0.2rem;
	font-family: "Josefin Sans", serif;
	font-weight: lighter;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	font-weight: 700;
}
