/** @format */

.singlePost {
	flex: 9;
}
.singlePostContent {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin: 0.7rem 3rem;
	padding: 1.6rem;
	border-radius: 0.5rem;
}
.spImage {
	width: 100%;
	height: 300px;
	margin-top: 0.8rem;
	border-radius: 0.3rem;
	object-fit: cover;
}
.singlePostTitle {
	margin: 0.8rem 0;
	font-size: 1.8rem;
	font-family: "Josefine", serif;
	font-weight: bold;
	color: #1b4769;
}
.editBtns {
	float: right;
}
.singlePostIcon {
	margin-left: 0.6rem;
	cursor: pointer;
}
.singlePostIcon:hover {
	color: #3388cb;
}
.singlePostIcon:last-child {
	color: rgb(220, 55, 55);
}
.singlePostIcon:last-child:hover {
	color: whitesmoke;
	background-color: red;
}
.spInfo {
	display: flex;
	margin-bottom: 1.3rem;
	justify-content: space-between;
	font-family: "Lora", serif;
	color: #80775b;
	padding-bottom: 0.4rem;
	border-bottom: 1px solid #b2cbb1;
}
.spDescription {
	font-family: "Josefine", sans-serif;
	font-weight: 300;
	font-size: 1.1rem;
	color: rgb(70, 69, 69);
	line-height: 1.4rem;
	text-align: justify;
}
.spDescription::first-letter {
	margin-left: 1rem;
	font-weight: bold;
	font-size: 1.7rem;
}
