/** @format */
.header {
	display: flex;
}
.headerTitles {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	color: #b2cbb1;
}
.headerTitleTitle {
	position: absolute;
	top: 10%;
	left: 13%;
	font-family: "Lora";
	font-size: 3rem;
}
.headerTitleText {
	width: 42%;
	position: absolute;
	top: 19%;
	left: 13%;
	font-size: 1.2rem;
	font-weight: 200;
	font-family: "Josefine";
}
.headerImg {
	width: 100%;
	height: 20rem;
	object-fit: cover;
}
