/** @format */

.header-container {
	background-size: cover !important;
	background: url(../../assets/hero-bg.jpg) no-repeat center center;
	height: 40vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.txt-container {
	left: 6%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 8%;
	width: 45%;
}
.txt-title {
	color: #a9f6a8;
	font-family: "Lora";
	font-size: 3rem;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.03em;
	margin-left: 12rem;
	margin-top: 3rem;
	margin: 0;
}
.txt-description {
	color: white;
	font-family: "Josefin Sans";
	font-size: 1.2rem;
	font-weight: 300;
	padding: 0;
	text-align: left;
}
@media only screen and(max-width: 299px) {
	.txt-container {
		left: 6%;
		top: 19%;
		width: 45%;
	}
	.txt-title {
		font-size: 2rem;
	}

	.txt-description {
		font-size: 1.1rem;
	}
}
@media screen and (max-width: 299px) {
	.txt-title {
		font-size: 1.7rem;
	}
	.txt-description {
		font-size: 1rem;
	}
}
@media only screen and (min-width: 300px) {
	.txt-container {
		left: 6%;
		top: 18%;
		width: 45%;
	}

	.txt-description {
		font-size: 1.3rem;
	}
}
@media only screen and (min-width: 520px) {
	.txt-container {
		left: 12%;
		top: 22%;
		width: 45%;
	}
	.txt-title {
		font-size: 3rem;
	}

	.txt-description {
		font-size: 1.6rem;
	}
}
