/** @format */
nav {
	align-items: center;
	background-color: #76db73;
	display: grid;
	font-family: "Josefin Sans", "Roboto", sans-serif;
	font-size: 1rem;
	grid-column-gap: 0.5rem;
	grid-template-columns: 22% auto 22%;
	grid-template-columns: repeat(auto-fit, minmax(5rem, auto));
	justify-content: space-around;
	justify-items: center;
	line-height: 1.5;
	padding: 0.5rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.link {
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
}
.link:hover {
	font-weight: 800;
}
.logo {
	align-items: center;
	cursor: pointer;
	display: grid;
	justify-items: center;
}
.logo-txt {
	color: #008002;
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 0;
}
.logo:hover {
	color: #008002;
}
.material-symbols-outlined {
	margin-bottom: -0.9rem;
}
.links-center {
	display: grid;
	grid-column-gap: 1.3rem;
	grid-template-columns: auto auto;
	justify-items: center;
}
.links-right {
	display: grid;
	grid-column-gap: 1.3rem;
	grid-template-columns: auto auto;
	justify-items: end;
}
.profileImg {
	border-radius: 50%;
	margin-bottom: 0;
	width: 2rem;
}
