/** @format */
nav {
	display: grid;
	width: 100%;
	background-color: #76db73;
	/* grid-template-columns: 22% auto 22%; */
	grid-template-columns: repeat(auto-fit, minmax(5rem, auto));
	grid-column-gap: 0.5rem;
	justify-items: center;
	align-items: center;
	padding: 0.5rem;
	justify-content: space-around;
	font-family: "Josefin Sans", "Roboto", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	position: fixed;
	z-index: 999;
	top: 0;
}
.link {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
}
.link:hover {
	font-weight: 800;
}
.logo {
	display: grid;
	justify-items: center;
	align-items: center;
	cursor: pointer;
}
.logo-txt {
	font-weight: bold;
	color: #008002;
	margin-top: 0;
	font-size: 1.5rem;
}
.logo:hover {
	color: #008002;
}
.material-symbols-outlined {
	margin-bottom: -0.9rem;
}
.links-center {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 1.3rem;
	justify-items: center;
}
.links-right {
	display: grid;
	/* grid-template-columns: auto auto;
	grid-column-gap: 1.3rem; */

	justify-items: end;
}
.profileImg {
	width: 2rem;
	margin-bottom: 0;
	border-radius: 50%;
}
