/** @format */
/* 
color palette
#474747
#EFEAE3
#999B84
#DAB24A
*/
.nav__container {
	width: 100%;
	background-color: #dab24a;
}
nav {
	max-width: 1720px;
	/* max-width: 80%; */
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}
.left_menu_container {
	grid-column: 1;
	align-self: center;
}

.logo-center {
	/* grid-column: 2; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	padding: 1rem;
	/* border: 1px solid black; */
}
/* TO-Do this 2 elements */
.logo-Txt {
	text-decoration: none;
}
.logo-center i {
	font-size: 1.6rem;
}
.right_menu_container {
	grid-column: 3;
	align-self: center;
}
#nav-toggle,
.burger-menu {
	display: none;
}

@media only screen and (max-width: 1025px) {
	.burger-menu {
		display: inline-block;
	}

	.left_menu_container {
		display: none;
	}

	#nav-toggle:checked ~ .left_menu_container {
		display: grid;
		grid-row: 2;
	}
}
.burger-menu {
	width: 24px;
	grid-column: 1;
	align-self: center;
	margin-left: 25px;
	/* border: 1px solid blue; */
}
.link {
	color: #474747;
	text-decoration: none;
	font-family: "Josefin Sans", sans-serif;
	padding: 10px 0;
	margin-left: 15px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.5px;
	transition: 0.3s all ease-in-out;
}
.link:hover {
	color: blue;
	/* opacity: 0.7; */
}
.profileImg {
	width: 2rem;
}
